/* Esta hoja de estilo va a contener toda la configución de mi index (FORMULARIO) */


.allForm{
    /* QUITAR DISPLAY PARA QUE NO ME LO PONGA UNO AL LADO DEL OTRO */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* Dimensión de la caja */
    min-height: 41.9vw;
    

}

